QFrame, QLabel, QToolTip {
    border-radius: 4px;
    padding: 2px;
}
QGroupBox {
    /*background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #FFA500, stop: 1 #FFFFFF);*/
    background-color: white;
    border: 1px solid gray;
    border-radius: 15px;

    margin-top: 1ex; /* leave space at the top for the title */
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top center; /* position at the top center */
    padding: 0 3px;
    /*background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #FFOECE, stop: 1 #FFFFFF);*/
}
